/* this is a comment in CSS */
body {
	/*font-family is a modifier in CSS */
	background-color: #cc99ff;
	font-size: 50px;
	font-family: sans-serif;
	/* em is relative to the size of your font */
	line-height: 1.61em;
	padding: 30px #6699ff;
	border: 30px #6699ff solid;
	margin: 50px;
}

h1 {
	font-size: 72px;
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	font-size: 50px;
	text-align: center;
}

.purple {
	color: blue;
}

img {
	width: 300px;
	height: 300px;
	text-align: center;
}

.hero {
	text-align: left;
}

.inside_out {
	width: 500px;
	height: 300px;
}

/*
.FixPhoto {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}
*/